<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/tailwind.output.css" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="../assets/js/init-alpine.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      .err{
        color: red;
        font-size: 12px;
      }
      #main-err{
        color: red;
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <div class="flex items-center min-h-screen p-6 bg-gray-50 dark:bg-gray-900">
      <div
        class="flex-1 h-full max-w-4xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800"
      >
        <div class="flex flex-col overflow-y-auto md:flex-row">
          <div class="h-32 md:h-auto md:w-1/2">
            <img
              aria-hidden="true"
              class="object-cover w-full h-full dark:hidden"
              src="../assets/img/create-account-office.jpeg"
              alt="Office"
            />
            <img
              aria-hidden="true"
              class="hidden object-cover w-full h-full dark:block"
              src="../assets/img/create-account-office-dark.jpeg"
              alt="Office"
            />
          </div>
          <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
            <div class="w-full">
              <h1
                class="mb-4 text-xl font-semibold text-gray-700 dark:text-gray-200"
              >
                Create account
              </h1>
              <form class="register-form">
                <p id="main-err" style="display: none;" class="mb-2"></p>
                <label class="block text-sm">
                  <span class="text-gray-700 dark:text-gray-400">Name</span>
                  <input
                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    placeholder="Enter Name" name="name" required
                  />
                  <label class="block text-sm">
                    <span class="text-gray-700 dark:text-gray-400">Email</span>
                    <input type="email"
                      class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                      placeholder="Enter Email" name="email" required
                    />
                </label>
                <label class="block text-sm">
                  <span class="text-gray-700 dark:text-gray-400">UserName</span>
                  <input
                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    placeholder="Enter UserName" name="username" required
                  />
              </label>
                <label class="block mt-4 text-sm">
                  <span class="text-gray-700 dark:text-gray-400">Password</span>
                  <input
                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    placeholder="***************"
                    type="password" min="6" id="password" name="password" required
                  />
                  <p id="password-error" class="err" style="display: none;"></p>
                </label>
                <label class="block mt-4 text-sm">
                  <span class="text-gray-700 dark:text-gray-400">
                    Confirm password
                  </span>
                  <input
                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    placeholder="***************"
                    type="password" min="6" id="confirmpassword" name="confirmpassword" required
                  />
                  <p id="confirmpassword-error" class="err" style="display: none;"></p>
                </label>
                <div class="flex mt-6 text-sm">
                  <label class="flex items-center dark:text-gray-400">
                    <input
                      type="checkbox"
                      class="text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                    />
                    <span class="ml-2">
                      I agree to the
                      <span class="underline">privacy policy</span>
                    </span>
                  </label>
                </div>
  
                <!-- You should use a button here, as the anchor is only used for the example  -->
                <button
                  class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                  id="register-button"
                >
                  Create account
              </button>
              </form>

              <hr class="my-8" />

              <p class="mt-4">
                <a
                  class="text-sm font-medium text-purple-600 dark:text-purple-400 hover:underline"
                  href="./login"
                >
                  Already have an account? Login
                </a>
              </p>
            </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function(){
        $('#password').on('input',function(event){
          console.log($('#password').val());
          var patt="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$";
          if(!patt.match($('#password').val())){
            document.getElementById("password-error").style.display="block";
            if($('#password').val().length<8){
              document.getElementById("password-error").innerHTML="Password must be of atleast 8 charaters"+"<br>"+
              "Password must contain atleast one letter,one digit and one number";
            }
            else{
              document.getElementById("password-error").style.display="none";
            }
          }
        })
        $('#confirmpassword').on('input',function(event){
          console.log($('#password').val());
          if($('#password').val()!=$('#confirmpassword').val()){
              document.getElementById("confirmpassword-error").style.display="block";
              document.getElementById("confirmpassword-error").innerHTML="Password and Confirm Password must be Equal";
          }
          else{
            document.getElementById("confirmpassword-error").style.display="none";
          }
        })

        $('.register-form').on('submit', function(event){
            event.preventDefault();
            var url = "/register";
            console.log($('#password').val());
            var formData=$('.register-form').serialize();
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: 'json',
                success: function(user){
                  console.log(user);
                  if(user.err){
                    document.getElementById('main-err').style.display="block";
                    document.getElementById('main-err').innerHTML=user.err;
                  }
                  else{
                    window.location=user.redirect;
                  }
                },
      });
    });
  });
    </script>
  </body>
</html>
